{% extends '_base.html' %}

{% block title %}Angaros - Error{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/404.css') }}" type="text/css" />
{% endblock %}

{% block body %}
{% include '_header.html' %}
<div class="center-div">
    <div id="magnifying-glass">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <h1>We ran into an issue! The page was found, but the request could not complete.</h1>
    <a href="{{ url_for('dashboard_controller.dashboard_get') }}">Return to Homepage</a>
</div>
<script src="{{ url_for('static', filename='js/move-glass.js') }}" ></script>
{% endblock %}
